header {
	margin-top: 70px;
}
#messages {
	overflow-y: scroll;
	border-radius: 5px;
	padding: 10px;
	max-height: 65vh;
}
.time {
	font-size: 0.75em;
}
#convos .list-group-item-heading {
	border-bottom: 1px dashed black;
}
.heading {
	font-weight: bold;
}
#msg {
	display: flex;
}
